body {
    background: #eee
}

#regForm {
    background-color: #ffffff;
    margin: 0px auto;
    font-family: Raleway;
    padding: 40px;
    border-radius: 10px
}

#register {

    color: #d67436;
}

h1 {
    text-align: center
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
}

.custom-select{
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    -webkit-appearance: none;
}

.tab .custom-select:focus {
    border: 1px solid #b4570c !important;
    outline: none;
}

.tab input:focus {
    border: 1px solid #b4570c !important;
    outline: none;
}

.custom-select.invalid {
    border: 1px solid #e03a0666;
}

input.invalid {
    border: 1px solid #e03a0666;
}

.tab {
    display: none
}

button {
    background-color: #b4570c;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
}

button:hover {
    opacity: 0.8
}

button:focus {
    outline: none !important;
}

.btn .buttonn {
    cursor: pointer;
    margin: 0 10px;
}

#mulai-tes {
    position: relative;
    line-height: 1;
    width: auto;
    height: 40px;
    padding: 5px 20px;
    background-color: #b4570c;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
    z-index: 1;
    border-right: 1px solid #000;
    border-radius: 5px;
}

#mulai-tes>p {
    font-size: 18px;
    font-style: normal;
    margin: 0;
}

#mulai-tes .block {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    transition: 0.5s;
    transform: translateX(100%);
    z-index: -1;
    transition: 0.5s;
}

#mulai-tes:hover .block {
    transform: translateX(0);
}

#mulai-tes:hover {
    color: #000;
    font-weight: 500;
}

#prevBtn {
    background-color: #bbbbbb
}


.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.step {
    height: 40px;
    width: 40px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: #b4570c;
    opacity: 0.5;
}

.step.active {
    opacity: 1
}


.step.finish {
    color: #fff;
    background: #b4570c;
    opacity: 1;

}

.all-steps {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px
}

.thanks-message {
    display: none;
    border: 1px solid #000000;
    padding: 4rem 2rem;
    border-radius: 20px;
}